<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>
	<body>
		<div class="card details-card" th:fragment="anagrafica">
            <div class="card-body">
                <h2 class="card-title">Informazioni dell'account</h2>
                <p class="card-text" th:text="'Nome: '+${attore.nome}"></p>
                <p class="card-text" th:text="'Cognome: '+${attore.cognome}"></p>
                <p class="card-text" th:text="'Data di Nascita: ' + ${#temporals.format(attore.dataNascita, 'dd/MM/yyyy')}"></p>
                <p class="card-text" th:text="'Email: '+ ${attore.email}"></p>
            </div>
        <a class="btn btn-dark mod-anag-btn" th:href="@{/formattore(id=${attore.id})}">
	  		Modifica Anagrafica
		</a>
	
	<!-- ELIMINA ACCOUNT BTN-->
		<button type="button" class="btn btn-danger mt-4" style="width:20em" data-toggle="modal" data-target="#exampleModalCenter">
	  		Elimina Account
		</button>
	
	<!-- Modal ELIMINA -->
		<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLongTitle">Elimina Account definitivamente</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		        <p>Se elimini il tuo account tutti i tuoi dati andranno persi e non potrai più iscriverti ai casting.<br>Sei sicuro di voler eliminare definitivamente il tuo account?</p>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annulla</button>
		        <a th:href="@{riservata/cancellaaccount(id=${attore.id})}" class="btn btn-danger" th:text="'Elimina definitivamente'"></a>
		      </div>
		    </div>
		  </div>
		</div>
		
		</div>
	</body>
</html>