body {
    font-family: 'Arial', sans-serif;
    background-color: #edf3f3;
    overflow-x: hidden;
}
.container-fluid {
    padding: 0;
    margin: 0;
}
.sidebar {
    height: 100vh;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #4c6bba;
    padding-top: 15px;
    color: white;
    z-index: 1;
}
.link-group {
    padding: 15px;
    display: block;
    margin-top: calc(50vh - 30vh); /* Regola il valore di 40px secondo le tue esigenze */
}

.sidebar h4 {
    text-align: center;
    margin-bottom: 20px;
}
.sidebar a {
    padding: 15px;
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    display: block;
}
.sidebar a:hover {
    text-decoration: underline;
    color: white;
}

.nav-item a:active {
    text-decoration: underline;
    color: white;
    background-color: #4c6bba;
}


.content {
    margin-left: 250px;
    
}
.navbar {
    background-color: #ffffff;
    padding: 15px;
    text-align: right;
    z-index: 0;
    width: 100%;    
}
.home{
	color:black;
	font-weight:bold;
	margin-left:2em;
}

.nomeadmin{
	margin-top:1em;
	margin-left:48em;
	color: darkblue;
}

.navbar img {
    border-radius: 50%;
    margin-right: 2em;
}


#myTable{
	background-color: white;
	
}


.btnc {
	padding: 0.5em;
	width: 7em;
	border-radius: 6px;
	text-align:center;
}

.btn-rosso {
	background-color: #ea7a71;
	color: #E03C30;	
}
.btn-giallo {
	background-color: #ffc65b;
	color: #b37400;
}
.btn-verde {
	background-color: #7FBC8C;
	color: #3e754a;
}

.btn-grigio {
	background-color: #c0c0c0;
	color: #595959;
	border: 2px #595959;
}