/* Stili personalizzati per il titolo del film */
.film-title {
  color: #007bff; /* Colore del testo primario di Bootstrap */
  text-decoration: none; /* Rimuove l'underline */
  transition: color 0.3s; /* Aggiunge una transizione al cambio di colore */
}

.film-title:hover {
  color: #0056b3; /* Cambia il colore al passaggio del mouse */
}

body {
	background-color: #f4f4f4;
}

#hero{
	background-color: #ffffff;
}

.nav-link.active {
        background-color: #808080; /* Colore di sfondo quando è attivo */
        color: #007bff; /* Colore del testo quando è attivo */
    }

.nav-link:hover {
        background-color: #f8f9fa; /* Colore di sfondo al passaggio del mouse */
        color: #007bff; /* Colore del testo al passaggio del mouse */
    }
    
    /* Stile del footer */
footer {
    background-color: #333; /* Colore di sfondo del footer */
    color: #fff; /* Colore del testo nel footer */
    padding: 10px; /* Padding interno al footer */
    width: 100%; /* Occupa l'intera larghezza della finestra */
    position: relative; /* Imposta la posizione a relativa */
    bottom: 0; /* Posiziona il footer in basso della finestra */
    min-height: 50vh; /* Altezza minima del 100% della viewport height */
}
.user-container {
     text-align: center;
     margin-top: 50px;
 }
.profile-image {
     width: 150px;
     height: 150px;
     border-radius: 50%;
     object-fit: cover;
     margin-top: 20px;
 }
.greetings {
     margin-top: 20px;
     font-size: 24px;
 }
.reserved-area {
     margin-top: 10px;
     font-size: 18px;
 }
.user-details {
     text-align: left;
     margin-top: 30px;
 }
.details-card {
     border: 1px solid #ccc;
     padding: 20px;
     border-radius: 10px;
     margin-bottom: 20px;
 }
.image-box {
     margin-top: 20px;
 }