<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8">
		 <meta name="viewport" content="width=device-width, initial-scale=1"> 
		 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
 		 <link href="../css/style.css" rel="stylesheet">
		<title>Login admin</title>
	</head>
	<body class="adminbg">
		
		<div class="container d-flex align-items-center justify-content-center vh-100">
		
			<form class="col-md-5 mb-2 px-5 py-5 rounded-4 boxform" method="post">
				
			    <div class="form-group mb-2">
			    	<h1>Accedi come amministratore</h1>
			    	<div th:if="${logError}" class="alert alert-warning" role="alert">
   					Username o password errati. Riprova.
				</div>
			      <label for="exampleInputEmail1">Username</label>
			      <input type="text" name="nome" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
			    </div>
			    <div class="form-group">
				    <label for="exampleInputPassword1">Password</label>
				    <input type="password" name="psw" class="form-control" id="exampleInputPassword1" placeholder="Password">
			    </div>
			    <button type="submit" class="btn btn-primary my-4 w-100">Accedi</button>
				<div>
					<a th:href="@{/}" th:text="'Torna Alla Home'" style="color:#0d6efd;"></a>
				</div>
			</form>
		</div> 
	</body>
</html>