<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">   
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
		<link href="../css/style.css" rel="stylesheet">
		<title>Risultati Ricerca</title>
	</head>
	<body>
	
		<div th:replace="~{fragments/navbar :: navbar}"></div>
	
	
		<div class="container my-2 py-5">&nbsp;</div>
		<div class="container py-7">
		<h2 th:if="${not filmTrovati.isEmpty() or not attoriTrovati.isEmpty()}">Risultati ricerca</h2>
		<h2 th:if="${filmTrovati.isEmpty() and attoriTrovati.isEmpty()}" style="min-height: 50vh;">Nessun risultato trovato</h2>
		</div>
	<!-- CARDS -->
		<div th:if="${not filmTrovati.isEmpty()}" class="container my-2 py-5" style="min-height: 50vh;">
		<h3>Film</h3>
			<div class="row row-cols-2">
				
		      <!-- gli underscore per far trattare genere come una variabile th-->
				<div class="col" th:each="film : ${filmTrovati}">
		    		<div class="card mb-3" style="max-width: 540px;">
		      			<div class="row g-0">
		        			<div class="col-md-4">
					          <img
					            th:src="${film.locandina}"
					            class="img-fluid rounded-start"
					          />
					        </div>
					        <div class="col-md-8">
			          			<div class="card-body">      	
						            <h5 class="card-title" th:text="${film.titolo}"></h5>
						            <p class="card-text">
						              <small class="text-muted" th:text="${film.dataUscita}"></small>
						            </p>
			            			<a th:href="@{/dettagliofilm(id=${film.id})}"> Scopri di più</a>
			          			</div>
			        		</div>
			      		</div>
			    	</div>
			  	</div>
			</div>
		</div>
		
		
		<div th:if="${not attoriTrovati.isEmpty()}" class="container my-2 py-5">
		<h3>Attori</h3>
			<div class="row row-cols-2">
		      <!-- gli underscore per far trattare genere come una variabile th-->
				<div class="col" th:each="a : ${attoriTrovati}">
		    		<div class="card mb-3" style="max-width: 540px;">
		      			<div class="row g-0">
		        			<div class="col-md-4">
					          <img
					            th:src="${a.ritratto}"
					            class="img-fluid rounded-start"
					          />
					        </div>
					        <div class="col-md-8">
			          			<div class="card-body">      	
						            <h5 class="card-title" th:text="${a.nome} + ' ' + ${a.cognome}"></h5>
			            			<a th:href="@{/dettaglioattore(id=${a.id})}"> Vai al profilo</a>
			          			</div>
			        		</div>
			      		</div>
			    	</div>
			  	</div>
			</div>
		</div>
	
		<div th:replace="~{fragments/footer :: footer}"></div>
	
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	</body>
</html>